:root {
    --header-size: 56px;
    --light-gray: #f5f5f5;
    --dark-blue: #122394;
}

body {
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Josefin Sans', sans-serif;
}

button:focus,
input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.app-container {
    padding: 20px 0;
    background-color: var(--light-gray);
    margin: var(--header-size) auto 0 auto;
    min-height: calc(100vh - var(--header-size));
}

.custom-modal-title {
    color: #6c757d;
}

.custom-modal-footer {
    background-color: #efefef;
}

.react-datepicker-wrapper {
    width: 100%;
}
.react-datepicker-wrapper input {
    width: 100%;
    height: 38px;
    padding: 10px;
    color: #707d8d;
    appearance: none;
    border-radius: 4px;
    border: 1px solid #ced4da;
}
