:root {
    --header-size: 38px;
    --footer-size: 38px;
    --light-gray: #f5f5f5;
    --dark-blue: #122394;
}

body {
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.heading {
    padding: 10px 0;
    text-align: center;
    color: var(--dark-blue);
    border-image-slice: 1;
    border-bottom: 6px solid;
    border-image-source: linear-gradient(23deg, rgb(31 59 148), rgb(13, 191, 143));
}

.app-container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    background-color: var(--light-gray);
    min-height: calc(100vh - var(--header-size));
}

button:focus,
input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.custom-modal-title {
    color: #6c757d;
}

.custom-modal-footer {
    background-color: #efefef;
}
