.todo-item {
    width: 22rem;
}

.todo-item:hover {
    cursor: pointer;
    position: relative;
}

.todo-item:hover .todo-item-actions {
    opacity: 1;
}

.todo-item:hover .todo-item-body {
   filter: blur(1px);
}

.todo-item-actions {
    top: 0;
    right: 0;
    opacity: 0;
    position: absolute;
}

.todo-item.selected {
    background-color: rgba(86, 165, 251, 0.16);
}
