:root {
    --header-size: 38px;
    --footer-size: 38px;
    --light-gray: #f9f9f9;
}

body {
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.heading,
.bottom-side {
    color: black;
    padding: 10px 0;
    text-align: center;
    background-color: gray;
}
